.todo-list {
  list-style: none;
  padding: 0;
  margin: 20px;
}

.todo-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 60px;
  padding: 10px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
  opacity: 1;
  animation: fadein 0.5s ease-in;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadeout {
  opacity: 0;
  transition: opacity 0.5s ease-out;
}

.todo-item:hover {
  cursor: pointer;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}

.todo-item:last-child {
  margin-bottom: 0;
}

.todo-text {
  margin-left: 10px;
  cursor: pointer;
}

.todo-text.completed {
  text-decoration: line-through;
  color: grey;
}

.todo-checkbox {
  margin-left: 0.3rem;
  transform: scale(
    1.5
  ); /* Adjust the scale value to make the checkbox bigger */
  margin-right: 10px; /* Add some spacing between the checkbox and the text */
}

.todo-checkbox:hover {
  cursor: pointer;
}

.todo-edit-btn {
  font-weight: bold;
  color: #350cc9;
  background-color: transparent;
  border: none;
  padding: 0 10px;
  cursor: pointer;
  margin-left: 10px;
}

.todo-delete-btn {
  font-weight: bold;
  color: #d03434;
  background-color: transparent;
  border: none;
  padding: 0 10px;
  cursor: pointer;
}

.todo-delete-btn:hover {
  color: #ff0000;
}
