* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: #f5f5f5;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.todo-list {
  list-style: none;
  padding: 0;
  margin: 20px 0;
}

.todo-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
}

.todo-item:last-child {
  margin-bottom: 0;
}

.todo-text {
  margin-left: 10px;
  cursor: pointer;
}

.todo-text.completed {
  text-decoration: line-through;
}

.todo-delete-btn {
  font-weight: bold;
  color: #d03434;
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-left: 10px;
}

.form__input {
  height: 40px;
  border: 2px solid #ccc;
  border-radius: 4px;
  padding-left: 10px;
  font-size: 16px;
  outline: none;

  transition: all 0.3s ease-in-out;
  &:focus {
    border-color: #0077ff;
    height: 50px;
  }
}
