* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
  margin-top: 1rem;
}

.Todos {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-color: #f5f5f5;
}

.todos-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
}

.todos-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form__input {
  flex-grow: 1;
  height: 40px;
  width: 80%;
  border: 2px solid #ccc;
  border-radius: 4px;
  padding-left: 10px;
  font-size: 16px;
  outline: none;

  transition: all 0.3s ease-in-out;
  &:focus {
    border-color: #0077ff;
    height: 50px;
  }
}

.form__button {
  background-color: #a1aab6;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  margin-left: 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border: 2px solid #888b8f;
}

.form__button:hover {
  background-color: #0077ff;
  color: #fff;
}

@media screen and (min-width: 1201px) {
  .todos-container {
    width: 60vw;
  }
}

@media screen and (max-width: 1200px) {
  .todos-container {
    width: 70vw;
  }
}

@media screen and (max-width: 1024px) {
  .todos-container {
    width: 80vw;
  }
}

@media screen and (max-width: 768px) {
  .todos-container {
    width: 95vw;
  }
}
